<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDpXbebGyrATJ3HgAPjiLdCYP7WB6vZnuk</string>
	<key>GCM_SENDER_ID</key>
	<string>254989888819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stocks.cph</string>
	<key>PROJECT_ID</key>
	<string>cph-stocks</string>
	<key>STORAGE_BUCKET</key>
	<string>cph-stocks.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:254989888819:ios:6a2369cd3e12fb45e8a246</string>
</dict>
</plist>